
#notes {
    margin: 1rem 4rem;
  }
  
  #notes .ql-container {
    background: #fefcfc;
    margin-bottom: 1%;
  
  }

  #notes .ql-snow.ql-toolbar {
    display: block;
  }
  .quill > .ql-container > .ql-editor.ql-blank::before{
    font-family: sans-serif;
    font-style: normal;
}

  
  #notes .ql-editor {
    min-height: 4em;
    font-size: 1rem;
    font-style: normal;
  }
  #notes .ql-formats button {
    position: relative
  }

  #notes .ql-formats button:hover:after,
  #notes .ql-formats button:active:after,
  #notes .ql-formats button:focus:after {
      position: absolute;
      background: black;
      color: white;
      padding: .2em;
      border-radius: .5em;
      left: -50%;
      top: 100%;
      width: max-content;
      z-index: 1;
      font-size: 0.7rem;
  }

  #notes .ql-bold:hover:after,
  #notes .ql-bold:active:after,
  #notes .ql-bold:focus:after {
     content: 'Bold Ctrl B';
  }
  #notes .ql-italic:hover:after,
  #notes .ql-italic:active:after,
  #notes .ql-italic:focus:after {
     content: 'Italic Ctrl I';
  }
  #notes .ql-underline:hover:after,
  #notes .ql-underline:active:after,
  #notes .ql-underline:focus:after {
     content: 'Underline Ctrl U';
  }
  #notes .ql-strike:hover:after,
  #notes .ql-strike:active:after,
  #notes .ql-strike:focus:after {
     content: 'StrikeThrough';
  }
  #notes .ql-size:hover:after,
  #notes .ql-size:active:after,
  #notes .ql-size:focus:after {
     content: 'Size';
  }
  #notes .ql-script[value="sub"]:hover:after,
  #notes .ql-script:active:after,
  #notes .ql-script:focus:after {
     content: 'SubScript';
  }
  #notes .ql-script[value="super"]:hover:after,
  #notes .ql-script:active:after,
  #notes .ql-script:focus:after {
     content: 'SuperScript';
  }
  #notes .ql-color:hover:after,
  #notes .ql-color:active:after,
  #notes .ql-color:focus:after {
     content: 'Color';
  }
  